.datos{
    border: 2px solid blue !important;
    padding: 0.5rem;
 }

 .input-recibo{
    width: 95%;
 }

 div{
    padding: 0.25rem;
 }

 body{
    background-color: aliceblue;   
 }

 .titulo{
   background-color: blue;
   color: aliceblue;
   margin-bottom: 3%;
 }